@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/montserrat";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: "Sniglet", system-ui;
  --font-sans: "Quicksand", sans-serif;
  --font-accent: "Caveat Brush", cursive;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --color-tertiary: var(--tertiary);
  --color-quaternary: var(--quaternary);
  --color-quinary: var(--quinary);
  --color-test: oklch(91.868% 0.01643 17.108);

  --text-7.5xl: 4.8rem;

  --breakpoint-xs: 31.25rem; /* 500px */
  --breakpoint-2md: 56.25rem; /* 900px */
  --breakpoint-1xl: 83.125rem; /* 1330px */

  --animate-marquee: marquee 60s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

:root {
  --background: oklch(91.868% 0.01643 17.108);
  --foreground: oklch(0.213 0 89.876);
  --card: oklch(95.252% 0.01298 16.927);
  --card-foreground: oklch(0.213 0 89.876);
  --popover: oklch(91.868% 0.01643 17.108);
  --popover-foreground: oklch(0.213 0 89.876);
  --primary: oklch(0.463 0.185 28.406);
  --primary-foreground: oklch(91.868% 0.01643 17.108);
  --secondary: oklch(72.754% 0.09802 302.776);
  --secondary-foreground: oklch(91.868% 0.01643 17.108);
  --muted: oklch(91.868% 0.01643 17.108);
  --muted-foreground: oklch(0.45 0.01 17.5);
  --accent: oklch(0.551 0.222 28.450);
  --accent-foreground: oklch(91.868% 0.01643 17.108);
  --destructive: oklch(0.551 0.222 28.450);
  --border: oklch(0.88 0.015 17.5);
  --input: oklch(0.88 0.015 17.5);
  --ring: oklch(0.463 0.185 28.406);
  --chart-1: oklch(0.463 0.185 28.406);
  --chart-2: oklch(0.805 0.056 304.283);
  --chart-3: oklch(0.551 0.222 28.450);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.875rem;
  --sidebar: oklch(91.868% 0.01643 17.108);
  --sidebar-foreground: oklch(0.213 0 89.876);
  --sidebar-primary: oklch(0.463 0.185 28.406);
  --sidebar-primary-foreground: oklch(91.868% 0.01643 17.108);
  --sidebar-accent: oklch(0.805 0.056 304.283);
  --sidebar-accent-foreground: oklch(0.213 0 89.876);
  --sidebar-border: oklch(0.88 0.015 17.5);
  --sidebar-ring: oklch(0.463 0.185 28.406);

  --tertiary: oklch(0.551 0.222 28.450);
  --quaternary: oklch(41.081% 0.08829 56.038 / 0.89);
  --quinary: oklch(87.916% 0.02143 303.856);
}

.dark {
  --background: oklch(0.213 0 89.876);
  --foreground: oklch(91.868% 0.01643 17.108);
  --card: oklch(0.26 0.01 89.876);
  --card-foreground: oklch(91.868% 0.01643 17.108);
  --popover: oklch(0.26 0.01 89.876);
  --popover-foreground: oklch(91.868% 0.01643 17.108);
  --primary: oklch(0.551 0.222 28.450);
  --primary-foreground: oklch(91.868% 0.01643 17.108);
  --secondary: oklch(0.35 0.04 304.283);
  --secondary-foreground: oklch(91.868% 0.01643 17.108);
  --muted: oklch(0.30 0.01 89.876);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.463 0.185 28.406);
  --accent-foreground: oklch(91.868% 0.01643 17.108);
  --destructive: oklch(0.551 0.222 28.450);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.222 28.450);
  --chart-1: oklch(0.463 0.185 28.406);
  --chart-2: oklch(0.805 0.056 304.283);
  --chart-3: oklch(0.551 0.222 28.450);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.26 0.01 89.876);
  --sidebar-foreground: oklch(91.868% 0.01643 17.108);
  --sidebar-primary: oklch(0.551 0.222 28.450);
  --sidebar-primary-foreground: oklch(91.868% 0.01643 17.108);
  --sidebar-accent: oklch(0.35 0.04 304.283);
  --sidebar-accent-foreground: oklch(91.868% 0.01643 17.108);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.222 28.450);
}

@font-face {
  font-family: 'MoreSugar';
  src: url('./assets/fonts/MoreSugar-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MoreSugar';
  src: url('./assets;fonts/MoreSugar-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@utility card {
  display: inline;
  height: 1rem;
  width: 1rem;
  fill: var(--secondary);
  color: var(--secondary)
}


@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
  h1 {
    @apply font-heading;
  }
}